<html>
    <head>
        <title>{{ title }} - Microblog</title>
    </head>
    <body>
        <h1>Enter User or Movie</h1>
    </body>
    
    <div>
        <form method ="POST" action ="">
            Input: <input type="text" name="user" value="Toby"><br>
            <input type="radio" name="type" value="userToUsers-Euclid" checked> User to Users (Euclid)<br>
            <input type="radio" name="type" value="userToUsers-Pearson"> User to Users (Pearson)<br>
            <input type="radio" name="type" value="userToMovies-Euclid"> User to Movies (Euclid)<br>
            <input type="radio" name="type" value="userToMovies-Pearson"> User to Movies (Pearson)<br>
            <input type="radio" name="type" value="moviesToUsers-Euclid"> Movies to Users (Euclid)<br>
            <input type="radio" name="type" value="moviesToUsers-Pearson"> Movies to Users (Pearson)<br>
            <input type="radio" name="type" value="moviesToMovies-Euclid"> Movies to Movies (Euclid)<br>
            <input type="radio" name="type" value="moviesToMovies-Pearson"> Movies to Movies (Pearson)<br>
            <input type="radio" name="type" value="userToMoviesIB-euclid"> User to Movies - IB CF - (Euclid)<br>
            <input type="radio" name="type" value="userToMoviesIB-Pearson"> User to Movies - IB CF -(Pearson)<br>

            <input type="submit" value="Get recommendations">
       
        </form>
    </div>
</html>
